name: kube-watchtower ci

on:
 release:
   types: [ published ]

jobs:
  build-and-push:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        include:
          - platform: ubuntu-latest
            arch: amd64
          - platform: ubuntu-24.04-arm
            arch: arm64
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/') && !contains(github.ref, 'pre') }}
            type=ref,event=tag,enable=${{ startsWith(github.ref, 'refs/tags/') && !contains(github.ref, 'pre') }}
            type=raw,value=pre,enable=${{ startsWith(github.ref, 'refs/tags/') && contains(github.ref, 'pre') }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/${{ matrix.arch }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            RELEASE_TAG=${{ steps.latest_release.outputs.result }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
