name: kube-watchtower ci

on:
  push:
    branches:
      - main
  release:
    types: [published]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
        packages: write
        contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@v2

      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.24.0'

      - name: Build
        run: |
            go mod download
            VERSION=${{ github.event.release.tag_name }}
            if [ "${{ github.event_name }}" = "push" ]; then
              VERSION="edge"
            fi
            CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -ldflags="-s -w -X main.version=$VERSION" -o \
              kube-watchtower_amd64 ./cmd/kube-watchtower
            CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -ldflags="-s -w -X main.version=$VERSION" -o \
              kube-watchtower_arm64 ./cmd/kube-watchtower

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          tags: |
            # main
            type=raw,value=edge,enable={{is_default_branch}}
            # release tag
            type=semver,pattern={{version}},enable=${{ startsWith(github.ref, 'refs/tags/') }}
            # add latest tag when release
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/') }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/arm64,linux/amd64
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max